<!-- <div class="section1" >
    <div class="form-list"  ><i class="fa fa-globe" aria-hidden="true"></i><strong>
          {{media[0].name}}</strong><span>{{media[0].link}}</span></div>
    <hr>
    <div class="form-list" ><i class="fa fa-github" aria-hidden="true"></i><strong> {{media[1].name}}</strong>
        <span>{{media[1].link}}</span>
    </div>
    <hr>
    <div class="form-list"><i class="fa fa-twitter" aria-hidden="true"></i><strong> {{media[2].name}}</strong>
        <span>{{media[2].link}}</span>
    </div>
    <hr>
    <div class="form-list"><i class="fa fa-instagram" aria-hidden="true"></i><strong> {{media[3].name}}</strong>
        <span>{{media[3].link}}</span>
    </div>
    <hr>
    <div class="form-list"><i class="fa fa-facebook" aria-hidden="true"></i><strong> {{media[4].name}}</strong>
        <span >{{media[4].link}}</span>
    </div> -->
    <table class="socialMediaDetails">
        <tr><td><i class="fa fa-globe" aria-hidden="true"></i><strong> {{media[0].name}}</strong></td><td class="detailsColor">{{media[0].link}}</td></tr>
        <tr><td><i class="fa fa-github" aria-hidden="true"></i><strong> {{media[1].name}}</strong></td><td class="detailsColor">{{media[1].link}}</td></tr>
        <tr><td><i class="fa fa-twitter" aria-hidden="true"></i><strong> {{media[2].name}}</strong></td><td class="detailsColor">{{media[2].link}}</td></tr>
        <tr><td><i class="fa fa-instagram" aria-hidden="true"></i><strong> {{media[3].name}}</strong></td><td class="detailsColor">{{media[3].link}}</td></tr>
        <tr><td><i class="fa fa-facebook" aria-hidden="true"></i><strong> {{media[4].name}}</strong></td><td class="detailsColor">{{media[4].link}}</td></tr>
      
      </table>





