.section1{
    background-color: white;
    
    
    border-radius: 4px;
    margin: 12px 12px 12px 23px;
    
    
    }
    span{
        padding-left: 300px;
        color: rgb(109,117,125);
        display: flex;
       
        
    }
    i{
        padding-left: 12px;
    }
    .form-list{
        padding: 6px;
      
    }
   
  