<div class="section1">
    <div class="form-list"><i class="fa fa-globe" aria-hidden="true"></i><strong>
            Website</strong><span>https://bootdey.com</span></div>
    <hr>
    <div class="form-list"><i class="fa fa-github" aria-hidden="true"></i><strong> Github</strong>
        <span>bootdey</span>
    </div>
    <hr>
    <div class="form-list"><i class="fa fa-twitter" aria-hidden="true"></i><strong> Twitter</strong>
        <span>@bootdey</span>
    </div>
    <hr>
    <div class="form-list"><i class="fa fa-instagram" aria-hidden="true"></i><strong> Instagram</strong>
        <span>bootdey</span>
    </div>
    <hr>
    <div class="form-list"><i class="fa fa-facebook" aria-hidden="true"></i><strong> Facebook</strong>
        <span >bootdey</span>
    </div>




</div>
