<h2>My Heroes</h2>
<ul class="heroes">
    <!-- [class.selected]="hero==selectedHero" (click)="onClick(hero) -->
    <li *ngFor="let hero of heroes" >
        <a routerLink="/details/{{hero.id}}">
        <span class="badge">{{hero.id}}</span>{{hero.name}}
        </a>
        <button (click)="delete(hero)">x</button>
    </li>
</ul>
<div>
    <label for="new-hero">Hero name:</label>
    <input id="new-hero" #new/>
    <button (click)="add(new.value);new.value='' ">Add Hero</button>
</div>
<!-- <div *ngIf="selectedHero">
<h2>{{selectedHero.name | uppercase}}Details</h2>
<div><span>id:</span>{{selectedHero.id}}</div>
<div>
    <label for="name">Hero name:</label>
    <input id="name" [(ngModel)]="selectedHero.name" placeholder="name">
</div>
</div> -->
<!-- <app-hero-detail [h]='selectedHero'></app-hero-detail> -->