.navbar-brand{
    padding-left: 1%;
    color: rgb(119,119,119);

}
.navbar{
    box-shadow: 10px 10px 8px rgb(248,248,248);
  
}
.navbar-nav li:hover{
    background-color: rgb(231,231,231);

}


.navbar .navbar-link .nav-link:hover{
    color: rgb(231,231,231);
    
}