<div class="layout">

    <div class="column1">

        <app-profile [name]="name" [role]="role" [area]="area" ></app-profile>
        <app-profile-info [media]="media"></app-profile-info>
    </div>
    <div class="column2">
        <app-data [info]="info"></app-data>
        <div class="skills">
            <div class="common">
                <app-skills [work]="work" [title]="title[0]" [percent]="progress1"></app-skills>
            </div>
            <div class="common">
                <app-skills [work]="work" [title]="title[1]" [percent]="progress2"></app-skills>
            </div>



        </div>
    </div>

</div>