<div class="jobSearchPage">
  <div class="form">
    <div id="domain_header">
      <h1>JobSearch</h1><span>.com</span>
    </div>
    <div class="container-fluid">

      <h2 style="color: black;">Create your account</h2>
      <h6 style="color: red;">* Required information</h6>
      <div id="layoutComponents">
        <app-basic-information></app-basic-information>
        <app-education></app-education>
        <app-work-experience></app-work-experience>
        <app-attachments></app-attachments>
        <div id="layoutButtons">
          <input class="btn btn-danger" type="reset" value="Reset">
          <input class="btn btn-danger" type="submit" value="Apply">
          <input type="reset">
        </div>
      </div>


    </div>
  </div>
</div>