img{
    cursor: pointer;
   margin-left: -38px;
    
    
}
#password{
    display: flex;
}
.card-header{
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold
}
