<button style="background-color: #555;
color: white;font-size: 23px;margin-left: 34px;" mat-button [matMenuTriggerFor]="classes">Classes of students</button>
<mat-menu #classes="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="ninth">9th</button>
  <button mat-menu-item>10th</button>
  <button mat-menu-item [matMenuTriggerFor]="eleventh">11th</button>
  <button mat-menu-item [matMenuTriggerFor]="twelth">12th</button>
</mat-menu>

<mat-menu #ninth="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="subjects">Subjects</button>
 
 
</mat-menu>
<mat-menu #subjects="matMenu">
  <button mat-menu-item>Maths</button>
  <button mat-menu-item>Science</button>
  <button mat-menu-item>English</button>
 
</mat-menu>



<mat-menu #eleventh="matMenu">
  <button mat-menu-item>Art</button>
  <button mat-menu-item [matMenuTriggerFor]="science">Science</button>
  <button mat-menu-item [matMenuTriggerFor]="comm">Commerce</button>
 
</mat-menu>
<mat-menu #science="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="science_sub">Subjects</button>
  
</mat-menu>

<mat-menu #comm="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="com_sub">Subjects</button>
  
</mat-menu>
<mat-menu #science_sub="matMenu">
  <button mat-menu-item>Physics</button>
  <button mat-menu-item>Chemistry</button>
  <button mat-menu-item>Maths</button>
  <button mat-menu-item>English</button>
 
</mat-menu>
<mat-menu #com_sub="matMenu">
  <button mat-menu-item>Accountancy</button>
  <button mat-menu-item>Economics</button>
  <button mat-menu-item>Business Studies</button>
  <button mat-menu-item>English</button>
 
</mat-menu>
<mat-menu #twelth="matMenu">
  <button mat-menu-item>Art</button>
  <button mat-menu-item>Science</button>
  <button mat-menu-item>Commerce</button>
 
</mat-menu>


