*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: aliceblue;
}
.start_btn,.box,.quiz-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3 ease;

}
.box.active,.quiz-box.activeQuiz{
    z-index: 5;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}
.start_btn button{
    background-color: white;
    color: blue;
    font-size:23px ;
    font-weight:100 ;
    outline: none;
    border-radius: 6px;
    border: 1px solid blue;
    cursor: pointer;
    padding: 10px 10px;
}
.box{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
    
    background: white;
    width: 400px;
    border-radius: 34px;
    
}
.box .title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    border-bottom: 1px solid black;
}
.box .list .rules{
    margin:5px 0;
} 
.box .buttons{
    height:60px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
    padding: 0 35;
    border-top:1px solid lightcoral;
}
.box .buttons button{
    margin:0 5px;
    height:  40px;
    width: 100px;
    border: 1px solid brown;
    background: black;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    outline: none;
}
.buttons button.quit{
    color: white;

}
.buttons button.restart{
    color:white;
    background: blue;
}
.buttons button.restart:hover{
    background: blue;
}
.buttons button.quit:hover{
    color:white;
    background: blue;
}
.quiz-box{
    display: none;
    width:500px;
    background: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3 ease;
    transform: translate(-50%,-50%) scale(0.9);
}
.quiz-box header{
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 3px rgba(0,0,0,0.1);

}
.quiz-box header .timer{
    display: flex;
    align-items: center;
}
.quiz-box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}
.quiz-box .que{
    font-size: 25px;
    font-weight: 200;
}
.quiz-box section .option-list{
    padding: 20px 0;
    display: block;
}
section .option-list .option{
    background: lightblue;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
section .option-list .option:hover{
    color: blue;
    background: white;
}
.option-list .option:last-child{
    margin-bottom: 0px;
}