<div class="row">
    <div class="col-md-6">
        <div class="alert alert-danger" role="alert" *ngIf="error">
           {{error}}
          </div>
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" ngModel
                name="email"
                required
                email class="form-control">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" ngModel
                name="password"
                required
                minlength="6">
            </div>
            <div style="margin-top: 23px;">
            <button class="btn btn-primary"  type="submit">{{signedUp?'Signup':'Login'}}</button>
           
            <button class="btn btn-primary" style="margin-left: 23px;"(click)="logIn()"type="button">Login</button>
            </div>
        </form>
    </div>
</div>
