body{
    margin: 0;
}
.container{
    border: 6px solid black;
    display: inline-flex;
    flex-direction: row;               
    /* row-reverse(left to right),column,column-reverse(bottom to top) */
    flex-wrap: wrap;
    /* flex-flow:flex-direction and flex wrap */
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* space-around,space-evenly,space-between */
}
.flex-item{
    
    font-size: 1rem;
    padding: 1rem;
    text-align: center;


}
