<!-- <app-class-ninth [subjects]="subjects"></app-class-ninth>
<app-class-tenth [subjects_10]="subjects_10"></app-class-tenth>
<app-class-eleventh [science_sub]="science_sub" [commerce_sub]="commerce_sub"></app-class-eleventh> -->

<div class="layout">
<app-common-class [class]="classes[0]" [subjects]="subjects_9" [placeholder]="place[0]"  ></app-common-class>
<app-common-class [class]="classes[1]" [subjects]="subjects_10" [placeholder]="place[1]"  ></app-common-class>
<div class="sameClass">
<app-common-class style="margin-right: 20px;"  [class]="classes[2]" [subjects]="science_sub" [placeholder]="place[2]"  ></app-common-class>
<app-common-class  [class]="classes[3]" [subjects]="commerce_sub" [placeholder]="place[2]" ></app-common-class>
</div>
</div>



