
    <div class="title"><i>assignment </i> <strong style="color: black;">{{title}}</strong></div>
    <div class="work">
      {{work[0]}}
        <div><progress value={{percent[0]}} max="100"></progress></div>
    </div>
    <div class="work">
       {{work[1]}}
        <div><progress value={{percent[1]}} max="100"></progress></div>
    </div>
    <div class="work">
        {{work[2]}}
        <div><progress value={{percent[2]}} max="100"></progress></div>
    </div>
    <div class="work">
       {{work[3]}}
        <div><progress value={{percent[3]}} max="100"></progress></div>
    </div>
    <div class="work">
     {{work[4]}}
        <div><progress value={{percent[4]}} max="100"></progress></div>
    </div>


