<nav>
  <ul>
      <li>Home</li>
      <li routerLink="/classes">Classes</li>
      
     <!-- <div class="dropdown">
      <li class="dropdown-toggle" data-toggle="dropdown" routerLink="/classes">Classes of students
         
      </li>
      </div> -->
      <!-- <div class="dropdown">
        <li class="dropdown-toggle" type="button" data-toggle="dropdown">Classes of students
        <span class="caret"></span></li>
        <ul class="dropdown-menu">
          <li routerLink="/9th"><a >9th</a></li>
          <li routerLink="/10th"><a >10th</a></li>
          <li routerLink="/11th"><a >11th</a>
            <ul class="dropdown-menu dropdown-submenu">
            <li routerLink="/11th/science">
              <a class="dropdown-item" >Science</a>
            </li>
            <li>
              <a class="dropdown-item" >Commerce</a>
            </li>
            <li>
              <a class="dropdown-item" >Arts</a>
            </li>
          </ul>
          </li>
          <li routerLink="/12th"><a >12th</a>
            
          </li>
        </ul>
      </div> -->
  
     
  </ul>
</nav>
<router-outlet></router-outlet>