<div class="workExperienceBox">
    <h4>Work Experience</h4>


    <div class="layoutWorkExp">

        <label for="employer">Employer</label>
        <input id="employer" type="text" />
        <label for="jobTitle">Job Title</label>
        <input type="text" id="jobTitle">


        <label for="jobDuty">Job Duty</label>
        <textarea id="jobDuty" cols="30" rows="10"></textarea>
        <label for="workedYear">Worked Year</label>
        <input type="number" id="workedYear">

    </div>

</div>