<div class="class">
    <h5>Class {{class}}</h5>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Filter subjects of class {{placeholder}}" 
            [(ngModel)]="sub">
    </div>

<ng-container *ngIf="(subjects | filter:sub) as filteredSubjects" >
    <ul>
        <li *ngFor="let subject of filteredSubjects ">


            {{subject}}

        </li>
        <div *ngIf="filteredSubjects.length===0">No data found</div>
      

    
    </ul>

</ng-container>

</div>
