<div class="container">
    <nav>
        <ul>
            <li>Home /</li>
            <li>User /</li>
            <li>User Profile</li>
        </ul>
    </nav>


    <div class="row">
        <div class="column1">
            <div class="center">
                <img src="../../assets/john.jpg" alt="" srcset="">
                <div class="name"><strong>John Doe</strong></div>
                <div class="role">Full Stack Developer</div>
                <div class="area">Bay Area,San Francisco,CA</div>
                <button class="follow">Follow</button>
                <button class="message">Message</button>
            </div>
        </div>
        <div class="column2">
            <div class="form">
                <div class="form-list">Full Name <span>Kenneth Valdez</span></div>
                <hr>
                <div class="form-list">Email<span> fip@jukmuh.al</span></div>
                <hr>
                <div class="form-list">Phone<span>(239) 816-9029</span></div>
                <hr>
                <div class="form-list">Mobile Number<span>(320) 380-4539</span></div>
                <hr>
                <div class="form-list">Address<span>Bay Area,San Francisco,CA</span></div>
            </div>
        </div>
    </div>
    <div class="row">
  
        <div class="column3">
            <div class="form-list"><i class="fa fa-globe" aria-hidden="true"></i><strong>
                    Website</strong><span>https://bootdey.com</span></div>
            <hr>
            <div class="form-list"><i class="fa fa-github" aria-hidden="true"></i><strong> Github</strong>
                <span>bootdey</span></div>
            <hr>
            <div class="form-list"><i class="fa fa-twitter" aria-hidden="true"></i><strong> Twitter</strong>
                <span>@bootdey</span></div>
            <hr>
            <div class="form-list"><i class="fa fa-instagram" aria-hidden="true"></i><strong> Instagram</strong>
                <span>bootdey</span></div>
            <hr>
            <div class="form-list"><i class="fa fa-facebook" aria-hidden="true"></i><strong> Facebook</strong>
                <span>bootdey</span></div>



        </div>
        <div class="column4">
            <div class="title">assignment <strong style="color: black;">Project Status</strong></div>
            <div class="work">
                Web Design
                <div><progress value="70" max="100">70 %</progress></div>
            </div>
            <div class="work">
                Website Markup
                <div><progress value="60" max="100">60 %</progress></div>
            </div>
            <div class="work">
                One Page
                <div><progress value="70" max="100">70 %</progress></div>
            </div>
            <div class="work">
                Mobile Template
                <div><progress value="50" max="100">50 %</progress></div>
            </div>
            <div class="work">
                Backend API
                <div><progress value="70" max="100">70 %</progress></div>
            </div>

        </div>
        <div class="column4">
            <div class="title">assignment <strong style="color: black;">Project Status</strong></div>
            <div class="work">
                Web Design
                <div><progress value="70" max="100">70 %</progress></div>
            </div>
            <div class="work">
                Website Markup
                <div><progress value="60" max="100">60 %</progress></div>
            </div>
            <div class="work">
                One Page
                <div><progress value="70" max="100">70 %</progress></div>
            </div>
            <div class="work">
                Mobile Template
                <div><progress value="50" max="100">50 %</progress></div>
            </div>
            <div class="work">
                Backend API
                <div><progress value="70" max="100">70 %</progress></div>
            </div>


        </div>
        </div>

</div>