<form class="basicInfoBox" [formGroup]="basicInfo">
    <h4>Basic Information</h4>


    <div class="layoutBasicInfo">

        <label for="email">Email </label>
        <div>
            <input id="email" type="text" formControlName="email" />
            <span style="color:red" *ngIf='email?.invalid  && email?.touched'>
                <span *ngIf="email?.errors?.['required']">Email
                    is required</span>
            </span>
        </div>
        <label for="password">Password</label>
        <div>
            <input type="password" id="password" formControlName="password">
            <span style="color:red" *ngIf='password?.invalid  && password?.touched'>
                <span *ngIf="password?.errors?.['required']">Password
                    is required</span>
            </span>
        </div>
        <label for="pwd">Retype Password</label>
        <div>
            <input type="text" id="pwd" formControlName="retypePassword">
            <span style="color:red" *ngIf='retypePassword?.invalid  && retypePassword?.touched'>
                <span *ngIf="retypePassword?.errors?.['required']">Please confirm the password
                </span>
            </span>
        </div>
        <label for="firstName">First name</label>
        <div>
            <input type="text" id="firstName" formControlName="firstName">
            <span style="color:red" *ngIf='firstName?.invalid  && firstName?.touched'>
                <span *ngIf="firstName?.errors?.['required']">First Name is required
                </span>
            </span>
        </div>
        <label for="lastName">Last Name</label>
        <div>
            <input type="text" id="lastName" formControlName="lastName">
            <span style="color:red" *ngIf='lastName?.invalid  && lastName?.touched'>
                <span *ngIf="lastName?.errors?.['required']">Last Name is required
                </span>
            </span>
        </div>
        <label for="phone">Phone Number</label>
        <div>
            <input type="number" id="phone" formControlName="phoneNumber">
            <span style="color:red" *ngIf='phoneNumber?.invalid  && phoneNumber?.touched'>
                <span *ngIf="phoneNumber?.errors?.['required']">Phone Number is required
                </span>
            </span>
        </div>
        <label for="address">Address</label>
        <div>
            <input type="text" id="address" formControlName="address">
            <span style="color:red" *ngIf='address?.invalid  && address?.touched'>
                <span *ngIf="address?.errors?.['required']">Address is required
                </span>
            </span>
        </div>
        <label for="city">City</label>
        <div>
            <input type="text" id="city" formControlName="city">
            <span style="color:red" *ngIf='city?.invalid  && city?.touched'>
                <span *ngIf="city?.errors?.['required']">City is required
                </span>
            </span>
        </div>
        <label for="province">Province</label>
        <div>
            <select id="province" formControlName="province">
                <option value="Alberta">Alberta</option>
            </select>
            <span style="color:red" *ngIf='province?.invalid  && province?.touched'>
                <span *ngIf="province?.errors?.['required']">Province is required
                </span>
            </span>
        </div>


        <label for="country">Country</label>
        <div>
            <input type="text" id="country" formControlName="country">
            <span style="color:red" *ngIf='country?.invalid  && country?.touched'>
                <span *ngIf="country?.errors?.['required']">Country is required
                </span>
            </span>
        </div>

    </div>

</form>