
               


    <div class="form">
        <div class="form-list"><strong>Full Name</strong> <span>Kenneth Valdez</span></div>
        <hr>
        <div class="form-list"><strong>Email</strong><span>fip@jukmuh.al</span></div>
        <hr>
        <div class="form-list"><strong>Phone</strong><span>(239) 816-9029</span></div>
        <hr>
        <div class="form-list"><strong> Number</strong><span>(320) 380-4539</span></div>
        <hr>
        <div class="form-list"><strong>Address</strong><span>Bay Area,San Francisco,CA</span></div>
    </div>
