
               


    <div class="form">
        <div class="form-list"><strong>Full Name</strong> <span>{{info.fullName}}</span></div>
        <hr>
        <div class="form-list"><strong>Email</strong><span>{{info.email}}</span></div>
        <hr>
        <div class="form-list"><strong>Phone</strong><span>{{info.phone}}</span></div>
        <hr>
        <div class="form-list"><strong> Number</strong><span>{{info.number}}</span></div>
        <hr>
        <div class="form-list"><strong>Address</strong><span>{{info.address}}</span></div>
    </div>
