
               


    
    <table class="userDetails">
        <tr><td><strong>Full Name</strong></td><td class="detailsColor">{{info.fullName}}</td></tr>
        <tr><td><strong>Email</strong></td><td class="detailsColor">{{info.email}}</td></tr>
        <tr><td><strong>Phone</strong></td><td class="detailsColor">{{info.phone}}</td></tr>
        <tr><td><strong>Number</strong></td><td class="detailsColor">{{info.number}}</td></tr>
        <tr><td><strong>Address</strong></td><td class="detailsColor">{{info.address}}</td></tr>
      
      </table>